# HW01 – Introduction to Python and Pandas

### By Donovan Manogue

## Section 3 Import Libraries

In [4]:
import numpy as np
import pandas as pd
#importing the necessarry libraries for this homework.

## Section 4 Import Data

In [7]:
df_realestate= pd.read_csv('/Users/donovanmanogue/Documents/HW01/data/Real Estate Data.csv', index_col=0, header=0)

#importing the realestate data and creating a dataframe for the data.

## Section 5 View Data

In [10]:
df_realestate.head(5)

,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Nbhd,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1,2-STORY 1946 & NEWER,Resid Low Density,65.0,8450,NaN,Regular,Level,Inside lot,Gentle,College Creek,...,61,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,208500
2,1-STORY 1946 & NEWER,Resid Low Density,80.0,9600,NaN,Regular,Level,Frontage on 2 sides,Gentle,Veenker,...,0,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,181500
3,2-STORY 1946 & NEWER,Resid Low Density,68.0,11250,NaN,Slightly irregular,Level,Inside lot,Gentle,College Creek,...,42,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,223500
4,2-STORY 1945 & OLDER,Resid Low Density,60.0,9550,NaN,Slightly irregular,Level,Corner lot,Gentle,Crawford,...,35,272,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,"Abnormal Sale - trade, foreclosure, short sale",140000
5,2-STORY 1946 & NEWER,Resid Low Density,84.0,14260,NaN,Slightly irregular,Level,Frontage on 2 sides,Gentle,Northridge,...,84,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,250000

In [11]:
df_realestate.sample()

,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Nbhd,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
704,2 FAMILY CONVERSION,Resid Med Density,76.0,7630,NaN,Regular,Level,Inside lot,Gentle,Old Town,...,0,40,0,0,0,No Pool,Minimum Privacy,Warranty Deed - Conventional,Normal Sale,140000

In [14]:
df_realestate.tail(2)

,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Nbhd,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1459,1-STORY 1946 & NEWER,Resid Low Density,68.0,9717,NaN,Regular,Level,Inside lot,Gentle,North Ames,...,0,112,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,142125
1460,1-STORY 1946 & NEWER,Resid Low Density,75.0,9937,NaN,Regular,Level,Inside lot,Gentle,Edwards,...,68,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,147500

In [16]:
df_realestate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1404 entries, 1 to 1460
Data columns (total 68 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Type                      1404 non-null   object
 1   Zoning Class              1404 non-null   object
 2   Lot Frontage              1151 non-null   float64
 3   Lot Area                  1404 non-null   int64
 4   Alley                     84 non-null     object
 5   Lot Shape                 1404 non-null   object
 6   Land Contour              1404 non-null   object
 7   Lot Config                1404 non-null   object
 8   Land Slope                1404 non-null   object
 9   Nbhd                      1404 non-null   object
 10  Location Condition        1404 non-null   object
 11  Bldg Type                 1404 non-null   object
 12  House Style               1404 non-null   object
 13  OvQual                    1404 non-null   int64
 14  Overall Cond              1404 non-null   int64
 15  Built                     1404 non-null   int64
 16  Year Remod Add            1404 non-null   int64
 17  Roof Style                1404 non-null   object
 18  Roof Material             1404 non-null   object
 19  Exterior Primary          1404 non-null   object
 20  Masonry/Veneer            580 non-null    object
 21  Masonry/Veneer Area       1396 non-null   float64
 22  Exterior Qual             1404 non-null   object
 23  Exterior Cond             1404 non-null   object
 24  Foundation                1404 non-null   object
 25  Basement Height           1404 non-null   object
 26  Basement Cond             1404 non-null   object
 27  Basement Exposure         1404 non-null   object
 28  Basement Finish           1404 non-null   object
 29  Basement Finished Area    1404 non-null   int64
 30  Basement Unfinished Area  1404 non-null   int64
 31  Basement Area             1404 non-null   int64
 32  Heating Qual              1404 non-null   object
 33  CentralAir                1404 non-null   object
 34  Electrical                1404 non-null   object
 35  1st Floor Area            1404 non-null   int64
 36  2nd Floor Area            1404 non-null   int64
 37  Living Area Above Grade   1404 non-null   int64
 38  Basement Full Baths       1404 non-null   int64
 39  Basement Half baths       1404 non-null   int64
 40  Full Baths Above Grade    1404 non-null   int64
 41  Half Baths Above Grade    1404 non-null   int64
 42  Bedrooms Above Grade      1404 non-null   int64
 43  Kitchens Above Grade      1404 non-null   int64
 44  Kitchen Qual              1404 non-null   object
 45  Total Rooms Above Grade   1404 non-null   int64
 46  Functionality             1404 non-null   object
 47  Fireplaces                1404 non-null   int64
 48  Fireplce Qual             1404 non-null   object
 49  Garage Type               1404 non-null   object
 50  Garage Yr Built           1341 non-null   float64
 51  Garage Finish             1404 non-null   object
 52  Garage Cars               1404 non-null   int64
 53  Garage Area               1404 non-null   int64
 54  Garage Qual               1404 non-null   object
 55  Garage Cond               1404 non-null   object
 56  Paved Drive               1404 non-null   object
 57  Wood Deck Area            1404 non-null   int64
 58  Open Porch Area           1404 non-null   int64
 59  Enclosed Porch Area       1404 non-null   int64
 60  3 Season Porch Area       1404 non-null   int64
 61  Screen Porch Area         1404 non-null   int64
 62  Pool Area                 1404 non-null   int64
 63  Pool Qual                 1404 non-null   object
 64  Fence                     1404 non-null   object
 65  Sale Type                 1404 non-null   object
 66  Sale Condition            1404 non-null   object
 67  Sale Price                1404 non-null   int64
dtypes: float64(3), int64(28), object(37)
memory usage: 756.8+ KB

In [18]:
#In section 5 I executed a block a few blocks of code to view the top 5 rows, a sample of the records, 
#the bottom 2 rows, and to look at all the information on the dataframe

## Section 6 Drop and Rename Columns

In [21]:
df_realestate = df_realestate.drop(df_realestate.columns[[1,5,7,8,11,12,17,18,19,20,22,23,24,25,26,27,28,32,33,34,46,48,49,54,55,56,63,64,65,16]],axis=1)

In [23]:
df_realestate = df_realestate.rename(columns ={'Type':'Dwelling Type', \
                                               'OvQual':'Overall Quality', \
                                               'Nbhd':'Neighborhood', \
                                               'Built':'Year Built'})

In [25]:
df_realestate.shape

(1404, 38)

In [27]:
#In section 6 I executed one blocks of code to drop columns for us to perform our analysis. I decided to use the index number, to make it easier than to type out every single column, but if someone wanted to, they could do it that way.
#Also, went through the columns and decided to change some of the abbreviates and some of the names to make it all make more sense.
#To do that I executed one line of code to go ahead and change the name of the columns within the dataframe.

## Section 7 Grouping the data and replacing Values

### 7a Group based on 'Neighborhood' and replace values

In [31]:
df_realestate.groupby('Neighborhood').count()

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Location Condition,Overall Quality,Overall Cond,Year Built,Masonry/Veneer Area,...,Garage Cars,Garage Area,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Neighborhood,,,,,,,,,,,,,,,,,,,,,
Bloomington Heights,6,4,6,0,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
Bloomington Hts,11,10,11,0,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
Bluestem,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Briardale,16,16,16,0,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Brookside,49,44,49,5,49,49,49,49,49,49,...,49,49,49,49,49,49,49,49,49,49
Clear Creek,27,13,27,0,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
College Creek,150,126,150,0,150,150,150,150,150,149,...,150,150,150,150,150,150,150,150,150,150
Crawford,50,40,50,1,50,50,50,50,50,49,...,50,50,50,50,50,50,50,50,50,50
Edwards,89,81,89,6,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
Gilbert,79,49,79,0,79,79,79,79,79,78,...,79,79,79,79,79,79,79,79,79,79
Iowa DOT and Rail Road,34,31,34,6,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
Meadow Village,10,8,10,0,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
Mitchell,48,35,48,0,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
North Ames,216,179,216,1,216,216,216,216,216,216,...,216,216,216,216,216,216,216,216,216,216
Northpark Villa,9,7,9,0,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
Northridge,41,33,41,0,41,41,41,41,41,41,...,41,41,41,41,41,41,41,41,41,41
Northridge Heights,77,76,77,0,77,77,77,77,77,76,...,77,77,77,77,77,77,77,77,77,77
Northwest Ames,73,45,73,0,73,73,73,73,73,73,...,73,73,73,73,73,73,73,73,73,73
Old Town,103,99,103,37,103,103,103,103,103,103,...,103,103,103,103,103,103,103,103,103,103
Sawyer,74,48,74,0,74,74,74,74,74,74,...,74,74,74,74,74,74,74,74,74,74
Sawyer West,58,49,58,0,58,58,58,58,58,57,...,58,58,58,58,58,58,58,58,58,58
Somerset,86,78,86,24,86,86,86,86,86,83,...,86,86,86,86,86,86,86,86,86,86
South & West of Iowa State,24,22,24,4,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
Stone Brook,25,20,25,0,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
Timberland,36,29,36,0,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36
Veenker,11,7,11,0,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11

In [33]:
df_realestate = df_realestate.replace('Bloomington Hts', 'Bloomington Heights')

In [35]:
df_realestate.groupby('Neighborhood')['Sale Price'].median()

Neighborhood
Bloomington Heights           191000.0
Bluestem                      137500.0
Briardale                     106000.0
Brookside                     128000.0
Clear Creek                   200000.0
College Creek                 197200.0
Crawford                      208812.0
Edwards                       120000.0
Gilbert                       181000.0
Iowa DOT and Rail Road        104750.0
Meadow Village                106000.0
Mitchell                      154750.0
North Ames                    141000.0
Northpark Villa               146000.0
Northridge                    301500.0
Northridge Heights            315000.0
Northwest Ames                182900.0
Old Town                      119900.0
Sawyer                        135000.0
Sawyer West                   179950.0
Somerset                      225500.0
South & West of Iowa State    139750.0
Stone Brook                   278000.0
Timberland                    233975.0
Veenker                       218000.0
Name: Sale Price, dtype: float64

In [37]:
#In this section I grouped together all the data by the neighbordhoods, and replaced one of the neighborhoods that was mispelled.
#I made sure to replace it with the correctly spelled neighborhood.
#Then I grouped the data frame by the neighborhood again, but only wanted to see one column, that being the Sale Price column.
#I grouped it by the sale price, then made sure to get the medium price for each neighborhood.

### 7b Group based on 'Dwelling Type' and replace values

In [40]:
df_realestate.groupby('Dwelling Type')['Dwelling Type'].count()

Dwelling Type
1 STORY PUD               9
1-1/2 STORY ALL AGES    138
1-STORY 1945 & OLDER     62
1-STORY 1946 & NEWER    531
1-STORY PUD              78
2 FAMILY CONVERSION      28
2-1/2 STORY ALL AGES     15
2-STORY 1945 & OLDER     59
2-STORY 1946 & NEWER    298
2-STORY PUD              63
DUPLEX                   46
SPLIT FOYER              20
SPLIT OR MULTI-LEVEL     57
Name: Dwelling Type, dtype: int64

In [42]:
df_realestate = df_realestate.replace('1-STORY PUD','1 STORY PUD')

In [44]:
df_realestate.groupby(['Neighborhood','Dwelling Type'])['Sale Price'].median()

Neighborhood         Dwelling Type
Bloomington Heights  1 STORY PUD             191500.0
                     1-STORY 1946 & NEWER    159895.0
Bluestem             2-STORY PUD             137500.0
Briardale            2-STORY PUD             106000.0
Brookside            1-1/2 STORY ALL AGES    132500.0
                                               ...
Timberland           SPLIT OR MULTI-LEVEL    181250.0
Veenker              1 STORY PUD             270000.0
                     1-STORY 1946 & NEWER    181500.0
                     2-STORY 1946 & NEWER    294000.0
                     SPLIT OR MULTI-LEVEL    190500.0
Name: Sale Price, Length: 132, dtype: float64

In [46]:
#In section 7b I did the same things I did in section 7a where I grouped and renamed some of the values in the columns
#The difference in this section is that I had to group two different columns together by their sale price and get their median

## 8. Summarize and Filter Data

### Section 8a: Pivot Neighborhood and Land Contour

In [50]:
df_re_pivot = df_realestate.pivot_table(index='Neighborhood', columns='Land Contour', values='Sale Price')
df_re_pivot

Land Contour,Banked,Depression,Hillside,Level
Neighborhood,,,,
Bloomington Heights,NaN,NaN,NaN,194870.882353
Bluestem,NaN,NaN,NaN,137500.000000
Briardale,NaN,NaN,NaN,104493.750000
Brookside,165400.000000,39300.000000,82500.000000,129358.928571
Clear Creek,220250.000000,222666.666667,186500.000000,200575.636364
College Creek,124900.000000,140666.666667,124000.000000,200165.282759
Crawford,198656.250000,224000.000000,221900.000000,212734.862069
Edwards,147035.714286,72950.000000,94750.000000,130323.670886
Gilbert,154500.000000,NaN,247640.625000,187614.217391
Iowa DOT and Rail Road,108978.600000,94500.000000,102776.000000,99019.653846
Meadow Village,NaN,NaN,NaN,108580.000000
Mitchell,134000.000000,148200.000000,122625.000000,161087.150000
North Ames,143000.000000,NaN,188500.000000,146969.872038
Northpark Villa,NaN,NaN,NaN,142694.444444
Northridge,NaN,260000.000000,NaN,337177.700000
Northridge Heights,NaN,NaN,374000.000000,315511.026316
Northwest Ames,NaN,NaN,NaN,189050.068493
Old Town,115319.000000,NaN,130000.000000,132744.434783
Sawyer,168000.000000,NaN,NaN,136365.643836
Sawyer West,130386.333333,270900.000000,NaN,185412.411765
Somerset,NaN,NaN,NaN,225379.837209
South & West of Iowa State,134439.454545,NaN,NaN,151611.538462
Stone Brook,NaN,267500.000000,352534.333333,300721.705882
Timberland,160000.000000,375000.000000,267879.000000,236942.208333
Veenker,NaN,385000.000000,NaN,224150.000000

In [52]:
#I created a pivot table for the Neighborhoods and the type of land contour they had

### Section 8b: Describe and Filter for Garage Cars

In [73]:
df_realestate['Garage Cars'].describe()

count    1399.000000
mean        1.789850
std         0.717758
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: Garage Cars, dtype: float64

In [63]:
df_realestate=df_realestate[df_realestate['Garage Cars'] <= 3]
df_realestate['Garage Cars'].info()

<class 'pandas.core.series.Series'>
Index: 1399 entries, 1 to 1460
Series name: Garage Cars
Non-Null Count  Dtype
--------------  -----
1399 non-null   int64
dtypes: int64(1)
memory usage: 21.9 KB

In [93]:
df_realestate=df_realestate.drop(columns='Garage Cars')

In [ ]:
#In this portion I described the garage cars column, and I made sure to get rid of any data from that column that was more thann 3 cars, then I dropped the column completely.

### Section 8c: Describe and Filter for Sale Price

In [96]:
df_realestate['Sale Price'].describe()

count      1399.000000
mean     183887.932094
std       79325.966763
min       34900.000000
25%      132500.000000
50%      165500.000000
75%      215100.000000
max      755000.000000
Name: Sale Price, dtype: float64

In [98]:
df_realestate[df_realestate['Sale Price'] > 500000]

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Finish,Garage Area,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
179,1-STORY 1946 & NEWER,63.0,17423,NaN,Level,Stone Brook,Normal,9,5,2008,...,Finished,1166,0,60,0,0,0,0,Home was not completed when last assessed (ass...,501837
441,1-STORY 1946 & NEWER,105.0,15431,NaN,Level,Northridge Heights,Normal,10,5,2008,...,Finished,672,0,72,0,0,170,0,Normal Sale,555000
692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,1994,...,Finished,832,382,50,0,0,0,0,Normal Sale,755000
770,2-STORY 1946 & NEWER,47.0,53504,NaN,Hillside,Stone Brook,Normal,8,5,2003,...,Finished,841,503,36,0,0,210,0,Normal Sale,538000
804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,2008,...,Rough Finished,1020,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,2009,...,Finished,820,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
1047,2-STORY 1946 & NEWER,85.0,16056,NaN,Level,Stone Brook,Normal,9,5,2005,...,Finished,716,214,108,0,0,0,0,Home was not completed when last assessed (ass...,556581
1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,1995,...,Finished,807,361,76,0,0,0,0,Normal Sale,625000
1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,1996,...,Finished,813,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000

In [100]:
df_realestate.sort_values(by=['Sale Price'], ascending= False)

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Finish,Garage Area,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,1994,...,Finished,832,382,50,0,0,0,0,Normal Sale,755000
1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,1996,...,Finished,813,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000
1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,1995,...,Finished,807,361,76,0,0,0,0,Normal Sale,625000
899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,2009,...,Finished,820,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,2008,...,Rough Finished,1020,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,1-STORY 1945 & OLDER,40.0,3636,NaN,Level,Iowa DOT and Rail Road,Normal,4,4,1922,...,No Garage,0,0,0,100,0,0,0,Normal Sale,55000
31,2-STORY 1945 & OLDER,50.0,8500,Pave,Level,Iowa DOT and Rail Road,Adjacent Feeder St,4,4,1920,...,Unfinished,250,0,54,172,0,0,0,Normal Sale,40000
534,1-STORY 1946 & NEWER,50.0,5000,NaN,Depression,Brookside,Normal,1,3,1946,...,No Garage,0,0,0,0,0,0,0,Normal Sale,39300
917,1-STORY 1946 & NEWER,50.0,9000,NaN,Level,Iowa DOT and Rail Road,Normal,2,3,1949,...,Unfinished,308,0,0,0,0,0,0,"Abnormal Sale - trade, foreclosure, short sale",35311
496,1-STORY 1945 & OLDER,60.0,7879,NaN,Level,Iowa DOT and Rail Road,Normal,4,5,1920,...,No Garage,0,0,523,115,0,0,0,"Abnormal Sale - trade, foreclosure, short sale",34900

In [102]:
df_re_over500k = df_realestate[df_realestate['Sale Price'] > 500000]
df_re_over500k

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Finish,Garage Area,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
179,1-STORY 1946 & NEWER,63.0,17423,NaN,Level,Stone Brook,Normal,9,5,2008,...,Finished,1166,0,60,0,0,0,0,Home was not completed when last assessed (ass...,501837
441,1-STORY 1946 & NEWER,105.0,15431,NaN,Level,Northridge Heights,Normal,10,5,2008,...,Finished,672,0,72,0,0,170,0,Normal Sale,555000
692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,1994,...,Finished,832,382,50,0,0,0,0,Normal Sale,755000
770,2-STORY 1946 & NEWER,47.0,53504,NaN,Hillside,Stone Brook,Normal,8,5,2003,...,Finished,841,503,36,0,0,210,0,Normal Sale,538000
804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,2008,...,Rough Finished,1020,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,2009,...,Finished,820,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
1047,2-STORY 1946 & NEWER,85.0,16056,NaN,Level,Stone Brook,Normal,9,5,2005,...,Finished,716,214,108,0,0,0,0,Home was not completed when last assessed (ass...,556581
1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,1995,...,Finished,807,361,76,0,0,0,0,Normal Sale,625000
1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,1996,...,Finished,813,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000

In [136]:
df_re_over500k.iloc[:,[0,5,36]].head()

            Dwelling Type        Neighborhood  Sale Price
Id
179  1-STORY 1946 & NEWER         Stone Brook      501837
441  1-STORY 1946 & NEWER  Northridge Heights      555000
692  2-STORY 1946 & NEWER          Northridge      755000
770  2-STORY 1946 & NEWER         Stone Brook      538000
804  2-STORY 1946 & NEWER  Northridge Heights      582933

In [144]:
df_realestate=df_realestate[df_realestate['Sale Price'] < 500000]
df_realestate['Sale Price'].info()

<class 'pandas.core.series.Series'>
Index: 1390 entries, 1 to 1460
Series name: Sale Price
Non-Null Count  Dtype
--------------  -----
1390 non-null   int64
dtypes: int64(1)
memory usage: 21.7 KB

In [ ]:
#In this section I Filtered and Described Sale Price, while also creating another data frame for it as well.

## 9. Save df_realestate as a csv

In [148]:
df_realestate.to_csv(r'/Users/donovanmanogue/Documents/HW01/data/Real Estate Data - Week2.csv')

In [ ]:
#this is how I saved the dataframe as a csv file and put it into my Data folder